/* Global styles */
body {
  background-image: url('https://fmanzano.github.io/survey/LuciaAI%20Header.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Resize image to fit the screen on smaller devices */
  }
}

/* Hide 'Powered by Qualtrics' branding */
#plug {
  display: none !important;
}

/* Bubble-like appearance for question text */
.QuestionText, .QuestionBody {
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    padding: 15px; /* Padding inside the bubble */
    border: 1px solid #dcdcdc; /* Light grey border */
    margin-bottom: 10px; /* Space between questions */
    transition: all 0.5s ease-in-out; /* Smooth transition effect */
}
